body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}

.btn:hover {
    background-color: pink;
}
